/* <===================== Основа =====================> */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}

:root {
    --color-main: #322f35;
    --color-second: #f5f5f5;
    --color-btn: #1451ee;
    --color-btn-hover: #0d3aad;
    --color-btn-active: #00288d;
    --color-wrong: #ae1919;
    --color-wrong-hover: #640e0e;
    --color-wrong-active: #3f0a0a;
    --color-not-active: #777;

    --font-size-large: 2rem;
    --font-size-normal: 1.8rem;
    --font-size-small: 1.6rem;
    --font-size-extrasmall: 1.4rem;

    --container-width-lg: 75%;
    --container-width-md: 82%;
    --container-width-sm: 90%;
    --container-width: var(--container-width-lg);

    --form-width-lg: 30%;
    --form-width-md: 40%;
    --form-width-sm: 70%;
    --form-width: 100%;

    --border-radius: 1.5rem;

    --transition: all ease 0.3s;

    --shadow-main: 0 0.3rem 1.5rem 0.1rem rgba(0, 0, 0, 0.25);
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-main);
    color: var(--color-second);
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-normal);
    line-height: 1.6;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* <===================== Текст =====================> */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.5;
}

h1 {
    font-size: 5.2rem;
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 7rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.8rem;
}

.text-sm {
    font-size: var(--font-size-small);
}

.text-xs {
    font-size: var(--font-size-normal);
    line-height: 1.4;
}

.text-base {
    font-size: var(--font-size-normal);
}

/* <===================== Конец текста =====================> */

img {
    display: block;
    object-fit: cover;
}

button > img {
    width: 100%;
    height: 100%;
}

a {
    color: var(--color-second);
    text-decoration: none;
    transition: var(--transition);
}

ul,
ol {
    list-style: none;
}

section {
    position: relative;
    padding: 7rem 0;
}

.container {
    width: var(--container-width);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

.link-nav {
    transition: var(--transition);
}

.link-nav:hover {
    opacity: 0.7;
}

.link-main {
    text-decoration: underline;
    transition: var(--transition);
}

.link-main:hover {
    opacity: 0.7;
}

/* <===================== Конец основы =====================> */

/* <===================== Форма =====================> */
.form {
    display: flex;
    flex-direction: column;
    width: var(--form-width);
    flex-wrap: wrap;
    row-gap: 3rem;
}

.form__blocks {
    display: flex;
    flex-grow: 1;
    gap: 3rem;
    width: 100%;
}

.form__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__block.checkbox {
    flex-direction: row;
    align-items: center;
}

.label {
    font-size: var(--font-size-small);
    color: var(--color-second);
    margin-left: 1rem;
}

.input,
.p-inputtext {
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius);
    background: none;
    border: 0.2rem solid var(--color-second);
    padding: 1rem 1.5rem;
}

.textarea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius);
    background: none;
    border: 0.2rem solid var(--color-second);
    padding: 1rem 1.5rem;
    line-height: 1.4;
}

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius);
    background: none;
    border: 0.2rem solid var(--color-second);
    padding: 1rem 1.5rem;
    gap: 1rem;
}

.checkbox__block {
    flex-direction: row;
}

[data-pc-name="pcfiltercontainer"] {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

[data-pc-name="pcfiltercontainer"] > input {
    width: 100%;
    background: none;
    border: 0.2rem solid var(--color-main);
    border-radius: var(--border-radius);
    font-size: var(--font-size-normal);
    margin-top: 1rem;
}

[data-pc-name="pcfiltercontainer"] [data-pc-name="pcfiltericoncontainer"] {
    position: absolute;
    top: 44%;
    right: 1rem;
}

[data-pc-section="overlay"] {
    background-color: var(--color-second);
    color: var(--color-main);
    border: 0.2rem solid var(--color-main);
    border-radius: var(--border-radius);
    padding: 1rem;
}

[data-pc-section="overlay"] [data-pc-section="option"] {
    cursor: pointer;
    transition: var(--transition);
    padding: 0.5rem;
    border-radius: var(--border-radius);
}

[data-pc-section="overlay"] [data-pc-section="option"]:hover {
    background-color: var(--color-main);
    color: var(--color-second);
}

[data-pc-name="password"] {
    position: relative;
    height: 100%;
    width: 100%;
}

[data-pc-name="password"] > svg {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    width: 2rem;
    height: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
}

[data-pc-name="password"] > input,
[data-pc-name="datepicker"] > input {
    font-size: var(--font-size-normal);
    border-radius: var(--border-radius);
    background: none;
    border: 0.2rem solid var(--color-second);
    padding: 1rem 4.5rem 1rem 1.5rem;
    height: 100%;
    width: 100%;
}

.p-select-label {
    color: var(--color-second);
}
.p-select-option {
    color: var(--color-main);
}
.p-select-option:hover {
    color: var(--color-second);
}

#date_start_panel {
    padding: 2rem 1rem;
    background-color: var(--color-second);
}

.p-datepicker-header {
    background-color: var(--color-second);
}

.p-datepicker-day-cell {
    padding: 0.5rem 0;
}

.p-datepicker-select-month,
.p-datepicker-header,
.p-datepicker-year,
.p-datepicker-month {
    color: var(--color-main);
}

.p-datepicker-day, .p-datepicker-weekday {
    font-size: var(--font-size-small);
    margin-inline: auto;
    color: var(--color-main);
}

[data-p-today="true"] .p-datepicker-day {
    color: var(--color-second);
}

.p-datepicker-day:hover,
.p-datepicker-year:hover,
.p-datepicker-month:hover {
    color: var(--color-second);
}

.error {
    color: var(--color-wrong);
    font-size: var(--font-size-small);
    margin-top: -1rem;
}

.form .error {
    margin-top: 0.5rem;
}

/* <================ Кнопки ================> */

button {
    cursor: pointer;
    background: none;
    border: none;
    transition: var(--transition);
    font-size: var(--font-size-normal);
}

button.delete {
    background-color: var(--color-wrong);
}

button.delete:hover {
    background-color: var(--color-wrong-hover);
}

button.delete:active {
    background-color: var(--color-wrong-active);
}

.btn-main.delete {
    background-color: var(--color-wrong);
}

.btn-main.delete:hover {
    background-color: var(--color-wrong-hover);
}

.btn-main.delete:active {
    background-color: var(--color-wrong-active);
}

.btn-main {
    background-color: var(--color-btn);
    color: var(--color-second);
    font-weight: 700;
    padding: 1rem 2.5rem;
    border-radius: var(--border-radius);
}

.btn-main:hover {
    background-color: var(--color-btn-hover);
}

.btn-main:active {
    background-color: var(--color-btn-active);
}

.form .btn-main {
    margin-top: 3rem;
    align-self: flex-start;
}
/* <================ Конец кнопок ================> */
/* <===================== Конец формы =====================> */

/* <===================== Шапка =====================> */
.header {
    height: 4rem;
    background-color: var(--color-second);
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__nav {
    align-items: center;
}

.header__ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
}

.header__main .header__ul {
    justify-content: space-between;
}

.header__ul .link-nav {
    color: var(--color-main);
}
/* <===================== Конец шапка =====================> */

/* <===================== Таблицы =====================> */
.table {
    border-collapse: collapse;
    border: 0.2rem solid var(--color-second);
    width: 100%;
}

.thead {
    background-color: var(--color-second);
    color: var(--color-main);
}

.tbody td {
    border: 0.2rem solid var(--color-second);
    padding: 0.5rem 1.5rem;
}

.tbody th {
    background-color: var(--color-second);
    color: var(--color-main);
    text-align: left;
    vertical-align: middle;
    width: fit-content;
    padding: 2.5rem 1.5rem;
}

.show__table .tbody td {
    padding: 2.5rem 2rem;
}

.table-inf {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30rem;
}

.table__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* <===================== Конец таблиц =====================> */

.top-btns {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}
.top-btns .select {
    width: fit-content;
}
.show__btns {
    align-self: flex-end;
    display: flex;
    gap: 2.5rem;
    margin-bottom: 4rem;
}
.top-btns-h2 {
    display: flex;
    margin-bottom: 7rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}
.top-btns-h2 h2 {
    margin-bottom: 0;
}
.top-btns-h2__btns {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

@media (max-width: 1600px) {
    :root {
        --container-width: var(--container-width-md);
    }
}

@media (max-width: 1024px) {
    .form__blocks {
        flex-direction: column;
    }

    /* <===================== Таблицы =====================> */
    .table__index {
        border: 0;
        width: 100%;
    }

    .thead__index {
        display: none;
    }

    .tbody__index tr {
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 0.2rem solid var(--color-second);
        border-right: 0.2rem solid var(--color-second);
    }

    .tbody__index td {
        width: 100%;
        position: relative;
        text-align: right;
        border-bottom: 0;
        border-right: 0;
    }

    .tbody__index .table-inf {
        max-width: 100%;
        text-wrap: wrap;
    }

    .tbody__index td:last-child {
        border-bottom: 0;
    }

    .tbody__index td::before {
        content: attr(data-label);
        margin-right: 2rem;
        float: left;
        font-weight: bold;
    }
    /* <===================== Конец таблиц =====================> */
}

@media (max-width: 768px) {
    :root {
        --container-width: var(--container-width-sm);
    }

    .header__ul {
        gap: 1.5rem;
    }

    .section {
        padding: 5rem 0;
    }
}
